<div class='restaurant'>
  <div class='expander'>
    <a href='#'>hide/show</a>
  </div>
  <div class="details">
    <div>
      <label>Name of Restaurant</label>
      <label> <%= restaurant.name %> </label>
    </div>
    <div>
      <label>Address of Restaurant</label>
      <label> <%= restaurant.address %> </label>
    </div>
    <div>
      <a class='edit' data-id='<%= restaurant.id %>' href='/restaurants/<%= restaurant.id %>/edit'> edit </a>
    </div>
    <div>
      <form action='/restaurants/<%= restaurant.id %>' method='post'> 
        <input type='hidden' name='_method' value='delete' />
        <input type='submit' value='delete' />
      </form>
    </div>
  </div>
</div>