<h1> Restaurant Index Page </h1> 
<% if logged_in? %>
  <h2> Your Name is <%= current_user.full_name %> </h2>
<% end %>
<div id='new-restaurant'>
  <a id='add-restaurant' href='/restaurants/new'>Add</a>
</div>
<hr />
<div id='restaurant-list'>
  <ul>
    <% @restaurants.each do |restaurant| %>
      <li id='restaurant-<%= restaurant.id %>'>
        <a data-id='<%=restaurant.id %>' href='/restaurants/<%= restaurant.id %>'><%= restaurant.name %></a>
      </li>
    <% end %> 
  </ul>
</div>